.breadcrumb-url{
    width:100%;
    line-height:20px;
    font-size:15px;
    background:#eee;
    padding:0px 50px;
    box-sizing: border-box;
}
.crumb,.seperator,.crumb-dropdown{
    width:auto;
    height:100%;
    display:inline-block;
    padding:0 5px;
    line-height:50px;
    font-size:14px;
    font-weight:bold;
    color:inherit;
    position: relative;
    cursor:pointer;
}
.seperator.dropdown{
    margin-left:10px;
}
.crumb-dropdown-items{
    display:none;
    position:absolute;
    min-width:150px;
    background:#fff;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    padding:10px 0;
    border-radius:5px;
    text-align:center;
    z-index:2;
    font-weight:normal;
}
.crumb-dropdown-items::before{
    content:"";
    border:12px solid transparent;
    border-bottom-color: white;
    position:absolute;
    top:-24px;
    left:10px;
}
.crumb-dropdown-item{
    width:100%;
    line-height:30px;
    display:block;
    text-decoration: none;
    color:inherit;
}
.crumb-dropdown-item:hover{
    background:rgb(56,56,250);
    color:white;
}
.crumb-dropdown.active .crumb-dropdown-items{
    display:block;
}
.icon-dropdown{
    padding:0 2px 0 6px;
    font-weight: bolder;
}