body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto;
}
#root,
.App {
	height: 100%;
	width: 100%;
}
.width-half {
	width: 50%;
	float: left;
}
.list-item {
	height: 50px;
	line-height: 50px;
	min-width: 450px;
	transition: 0.3s;
	cursor: pointer;
}
.list-item:hover {
	background: #eee;
}
.width-third {
	width: 33.33%;
}
.third {
	width: 33.33%;
	float: left;
}
.quarter {
	width: 25%;
	float: left;
}
.width-quarter {
	width: 25%;
}
.minor-info {
	text-align: center;
	color: #888;
	font-size: 13px;
}
.marg-5-10 {
	margin: 5px 10px;
}
.padd-25-50 {
	padding: 25px 50px;
	box-sizing: border-box;
}
.padd-25 {
	padding: 25px;
	box-sizing: border-box;
}
.padd-15 {
	padding: 25px;
	box-sizing: border-box;
}
.fake-link {
	color: blue;
	cursor: pointer;
}
.fake-link:hover {
	text-decoration: underline;
}
.downloads {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 13px;
	color: blue;
	text-transform: underline;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}
.downloads:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
