body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto;
}
#root,
.App {
	height: 100%;
	width: 100%;
}
.quarter{
	width:25%;
	float:left;
}
.marg-5-10{
	margin:5px 10px;
}
.padd-25-50{
	padding:25px 50px;
}